[submodule "internal/just"]
	path = internal/just
	url = git@github.com:visionsystemsinc/just.git
	update = none
[submodule "docker/recipes"]
	path = docker/recipes
	url = https://github.com/VisionSystemsInc/docker_recipes.git
