version: "2.3"

services:
  wine: &wine
    build:
      context: docker/tests
      dockerfile: wine.Dockerfile
    image: ${VSI_COMMON_DOCKER_REPO}:wine_test
    cap_add:
      - SYS_PTRACE
    working_dir: /vsi
    environment: &wine_environment
      USER_ID: "${VSI_COMMON_UID-1000}"
      JUST_IS_TTY: "1"
      WINEDEBUG: "fixme-all,err-winediag,err-menubuilder"
    volumes:
      - &wine_home_volume
        type: volume
        source: wine_home
        target: /home/.user_wine
      - &vsi_common_volume
        type: bind
        source: .
        target: /vsi
        read_only: true
    command: -c "cd /z/vsi; bash -l"
  wine_gui:
    <<: *wine
    environment:
      <<: *wine_environment
      DISPLAY:
    volumes:
      - *wine_home_volume
      - *vsi_common_volume
      - type: bind
        read_only: true
        target: /tmp/.X11-unix
        source: /tmp/.X11-unix
    command: []

  bash_test_5.0: &bash_test
    build: &bash_test_build
      context: docker/tests
      dockerfile: bash_test.Dockerfile
      args: &bash_test_build_args
        BASH_VERSION: 5.0
        DOCKER_COMPOSE_VERSION: alpine-1.25.4
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_5.0
    environment:
      DOCKER_UID: ${VSI_COMMON_UID-1000}
      DOCKER_GIDS: ${VSI_COMMON_GIDS-1000}
      DOCKER_GROUP_NAMES: ${VSI_COMMON_GROUP_NAMES-user}
      DOCKER_USERNAME: user
      TESTLIB_PARALLEL:
      # Don't do this, on circle CI this runs on the remote where docker is
      # "local", VSI_COMMON_BASH_TEST_*_*_VOLUMES takes care of this.
      # DOCKER_HOST:
      TESTLIB_SKIP_TESTS:
      # Uncomment this and in bash_test.Justfile if you want to run the
      # common_source integration test in the container
      # VSI_COMMON_DIR_HOST: "${VSI_COMMON_DIR}"
    volumes:
      - <<: *vsi_common_volume
      # Since some of the integration tests bind test dirs in, make sure the
      # tmp it is using is the same tmp dir
      - type: bind
        source: /tmp
        target: /tmp
  bash_test_4.4:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 4.4
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_4.4
  bash_test_4.3:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 4.3
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_4.3
  bash_test_4.2:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 4.2
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_4.2
  bash_test_4.1:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 4.1
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_4.1
  bash_test_4.0:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 4.0
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_4.0
  bash_test_3.2:
    <<: *bash_test
    build:
      <<: *bash_test_build
      args:
        <<: *bash_test_build_args
        BASH_VERSION: 3.2
    image: ${VSI_COMMON_DOCKER_REPO}:bash_test_3.2

  python2: &python-anchor
    build:
      context: docker/tests/
      dockerfile: python2.Dockerfile
    image: ${VSI_COMMON_DOCKER_REPO}:python2_test
    command: |
      bash -c '
        cd /vsi/python
        pipenv run python2 -B -m unittest discover -s "/vsi/python/vsi/test"'
    # environment:
    #   - DOCKER_UID=${VSI_COMMON_UID-1000}
    #   - DOCKER_GIDS=${VSI_COMMON_GIDS-1000}
    #   - DOCKER_GROUP_NAMES=user
    #   - DOCKER_USERNAME=user
    volumes:
      - type: bind
        source: ${VSI_COMMON_DIR}
        target: /vsi
        read_only: true
      - type: volume
        source: venv2
        target: /venv
  python3:
    build:
      context: docker/tests/
      dockerfile: python3.Dockerfile
    image: ${VSI_COMMON_DOCKER_REPO}:python3_test
    volumes:
      - type: bind
        source: ${VSI_COMMON_DIR}
        target: /vsi
        read_only: true
      - type: volume
        source: venv3
        target: /venv
    command: |
      bash -c '
        cd /vsi/python
        pipenv run python3 -B -m unittest discover -s "/vsi/python/vsi/test"'
  os:
    build:
      context: docker/tests/
      dockerfile: os.Dockerfile
      args:
        - OS=${VSI_COMMON_TEST_OS-debian:8}
    image: ${VSI_COMMON_DOCKER_REPO}:os_${VSI_COMMON_TEST_OS_TAG_NAME-debian_8}

volumes:
  wine_home:
  venv2:
    labels:
      com.vsi.just.clean_setup: --wrap Docker-compose run python2 true
  venv3:
    labels:
      com.vsi.just.clean_setup: --wrap Docker-compose run python3 true