ignore files:
    docs
    .git
options:
    --multidoc
    --html
    --internal
    --index
    --toc
    --sections
    --syntaxcolors
    --source_line_numbers
headertypes:
    J  "Projects" robo_projects 2
    F  "Files"    robo_files    1