services:
  vsi:
    image: vsiri/vsi_common
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
  robodoc: #Deprecated
    image: andyneff/robodoc:latest
    volumes:
      - "${SRC_DIR-.}:/src"
      - "${DOC_DIR-./docs}:/doc"
    command: ['--rc', '/src/robodoc.rc']
  sphinx:
    build:
      context: .
      dockerfile: sphinx.Dockerfile
      args:
        GOSU_SKIP_GPG: ${SPHINX_SKIP_GPG-${GOSU_SKIP_GPG-0}}
        PYTHON_VERSION: ${SPHINX_PYTHON_VERSION-}
        PIPENV_VERSION: ${SPHINX_PIPENV_VERSION-}
        TINI_SKIP_GPG: ${SPHINX_SKIP_GPG-${TINI_SKIP_GPG-0}}
        VIRTUALENV_VERSION: ${SPHINX_VIRTUALENV_VERSION-}
        VSI_RECIPE_REPO: ${SPHINX_RECIPE_REPO-${VSI_RECIPE_REPO-vsiri/recipe}}
    image: ${SPHINX_COMPILE_IMAGE-vsiri/sphinxdocs:compile}
    environment: &plugin_environment
      DOCKER_UID: ${UID_CONTAINER-1000}
      DOCKER_GIDS: ${GIDS_CONTAINER-1000}
      DOCKER_GROUP_NAMES: ${VSI_COMMON_GROUP_NAMES-user}
      DOCKER_USERNAME: user
      JUST_SETTINGS: ${VSI_COMMON_JUST_SETTINGS-}
    volumes:
      - &vsi_common_volume
        type: bind
        source: ${VSI_COMMON_DIR}
        target: /vsi
      - type: bind
        source: ${DOCS_SOURCE_DIR_HOST-.}
        target: /src
      - type: bind
        source: ${DOCS_DIR_HOST-./docs}
        target: /docs
  bashcov:
    build:
      context: .
      dockerfile: bashcov.Dockerfile
      args:
        GOSU_SKIP_GPG: ${BASHCOV_SKIP_GPG-${GOSU_SKIP_GPG-0}}
        TINI_SKIP_GPG: ${BASHCOV_SKIP_GPG-${TINI_SKIP_GPG-0}}
        VSI_RECIPE_REPO: ${BASHCOV_RECIPE_REPO-${VSI_RECIPE_REPO-vsiri/recipe}}
    image: ${BASHCOV_IMAGE-vsiri/bashcov:latest}
    environment:
      <<: *plugin_environment
      TESTLIB_PARALLEL:
      # DOCKER_HOST:
    volumes:
      - <<: *vsi_common_volume
      - type: bind
        source: ${BASH_COV_SOURCE_DIR-.}
        target: /src
  makeself:
    build:
      context: .
      dockerfile: makeself.Dockerfile
      args:
        GOSU_SKIP_GPG: ${MAKESELF_SKIP_GPG-${GOSU_SKIP_GPG-0}}
        MAKESELF_VERSION: ${MAKESELF_VERSION-release-2.4.3}
        TINI_SKIP_GPG: ${MAKESELF_SKIP_GPG-${TINI_SKIP_GPG-0}}
        VSI_RECIPE_REPO: ${MAKESELF_RECIPE_REPO-${VSI_RECIPE_REPO-vsiri/recipe}}
    image: ${MAKESELF_IMAGE-vsiri/makeself:latest}
    environment:
      <<: *plugin_environment
      MAKESELF_NAME: just
      MAKESELF_LABEL: just_label
    volumes:
      - <<: *vsi_common_volume
      - type: bind
        source: ${MAKESELF_SOURCE_DIR-.}
        target: /src
      - type: bind
        source: ${MAKESELF_DIST_DIR-./dist}
        target: /dist
    # platform: linux
  # pyinstaller:
  #   build:
  #     context: .
  #     dockerfile: pyinstaller.Dockerfile
  #     args:
  #       GOSU_SKIP_GPG: ${PYINSTALLER_SKIP_GPG-${GOSU_SKIP_GPG-0}}
  #       PYTHON_VERSION: ${PYINSTALLER_PYTHON_VERSION-3.7.7}
  #       PYINSTALLER_VERSION: ${PYINSTALLER_VERSION-3.6}
  #       TINI_SKIP_GPG: ${PYINSTALLER_SKIP_GPG-${TINI_SKIP_GPG-0}}
  #       VSI_RECIPE_REPO: ${PYINSTALLER_RECIPE_REPO-${VSI_RECIPE_REPO-vsiri/recipe}}
  #   image: ${PYINSTALLER_IMAGE-vsiri/pyinstaller:3.7.7-3.6}
  #   environment:
  #     <<: *plugin_environment
  #   volumes:
  #     - <<: *vsi_common_volume
  #     - type: bind
  #       source: ${PYINSTALLER_SOURCE_DIR-.}
  #       target: /src
  #     - type: bind
  #       source: ${PYINSTALLER_DIST_DIR-./dist}
  #       target: /dist
  #     - type: volume
  #       source: pyinstaller-build
  #       target: /build
volumes:
  pyinstaller-build:
