.. default-domain:: bash

============
Requirements
============

.. file:: requirements.bsh

A set of functions for determining the versions of specific programs, and if you meet the required versions
.. function:: meet_requirements

:Arguments: ``$1`` - Version you are checking
            [``$2``...] - Version rules

* Supports versions of any length, ``1``, ``1.0``, ``1.0.0.0.0.0``, etc...
* Supports an alpha version after the last number, ``1.0.2rc5``
* Supported version rules:
  * ``=`` - Does version equal this version. ``1`` is the same as ``1.0.0``, but not ``1.0.0p1``
  * ``!=`` - Does the version not equal this version
  * ``<`` - Is this version less than this version
  * ``<=`` - Is this version less than or equal to this version
  * ``>`` - Is this version greater than this version
  * ``>=`` - Is this version greater than or equal to this version
  * ``or`` - All rules are ``and`` ed together, unless separated by an ``or``, in which case a new group of ``and`` ed rules are started. Only one group has to be true for the result to be true. There is currently no support for rules more complex than this.

.. rubric:: Example

.. code:: bash

   meet_requirements 1.0.0 <2.0.0 >0.5.0
   meet_requirements 1.0.0 =1
   meet_requirements 1.0.0 <2.0.0 >0.5.0 or >3.0.0
   meet_requirements 3.1.0 <2.0.0 >0.5.0 or >3.0.0

.. function:: version_eq

Checks to see if version ``${1}`` equals ``${2}``. Slightly more complex than a simple ``=``. For example: ``1.0p1`` is the same as ``1.0.0.0p1``

:Arguments: ``$1`` - LHS version
            ``$2`` - RHS version

.. function:: version_lt

Checks to see if version ``${1}`` is less than ``${2}``.

:Arguments: ``$1`` - LHS version
            ``$2`` - RHS version

.. function:: version_gt

Checks to see if version ``${1}`` is greater than ``${2}``.

:Arguments: ``$1`` - LHS version
            ``$2`` - RHS version

.. function:: git_version

Retrieves the version number of ``git``.

:Parameters: [``GIT``] - The ``git`` executable what will be called. Can be overwritten to call a different executable. Defaults to ``git``.
:Output: *stdout* - The ``git`` version number

.. function:: docker_version

Retrieves the version number of ``docker``.

:Parameters: [``DOCKER``] - The ``docker`` executable what will be called. Can be overwritten to call a different executable. Defaults to ``docker``.
:Output: *stdout* - The ``docker`` version number

.. function:: docker_compose_version

Retrieves the version number of ``docker-compose``.

:Parameters: [``DOCKER_COMPOSE``] - The ``docker-compose`` executable what will be called. Can be overwritten to call a different executable. Defaults to ``docker-compose``.
:Output: *stdout* - The ``docker-compose`` version number

.. function:: bash_version

Retrieves the version number of ``bash``.

:Parameters: [``BASH``] - The ``bash`` executable what will be called. Can be overwritten to call a different executable. Defaults to ``bash``.
:Output: *stdout* - The ``bash`` version number

