[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
numpy = "*"
matplotlib = "*"
IPython = "*"
rpdb = "*"
notpypawxpython = {path = "/opt/fake_package_wxpython"}
notpypapyopencl = {path = "/opt/fake_package_pyopencl"}
notpypaboxm2_adaptor = {path = "/opt/fake_package_boxm2_adaptor"}
notpypaboxm2_scene_adaptor = {path = "/opt/fake_package_boxm2_scene_adaptor"}
notpypabrl_init = {path = "/opt/fake_package_brl_init"}
notpypavtk = {path = "/opt/fake_package_vtk"}
notpypavpgl_adaptor_boxm2_batch = {path = "/opt/fake_package_vpgl_adaptor_boxm2_batch"}
winpdb-reborn = "==2.0.0.dev5"
Pillow = "*"
scikit-image = "*"
requests = ">=2.20.0"
simplegeneric = "*"

[dev-packages]

[requires]
python_version = "3.7"
